# About this file

"AB_NYC_2019" - Summary information and metrics for listings in New York City. It is good for exploration, visualizations and predictions.

Columns
idlisting ID
namename of the listing
host_idhost ID
host_namename of the host
neighbourhood_grouplocation
neighbourhoodarea
latitudelatitude coordinates
longitudelongitude coordinates
room_typelisting space type
priceprice in dollars
minimum_nightsamount of nights minimum
number_of_reviewsnumber of reviews
last_reviewlatest review
reviews_per_monthnumber of reviews per month
calculated_host_listings_countamount of listing per host
availability_365number of days when listing is available for booking



Tasks. (1) Form neighbourhood_group (2) Extract the comments to df1 (from df2)
        (3) drop 

Analyssi (a) Compare Price per room_type and within neighbourhood_group (b) use the geodata to map the location of the airbnb's in NYC (c) From df2, text analysis on commnets and categorize postive, negative, and/or neutral
(d) comments and price????

In [54]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
#import plotly.offline as pyo
#import plotly.graph_objs as go
#import plotly.express as px
%matplotlib inline
import seaborn as sns

In [55]:

#df_nyc = pd.read_csv('AB_NYC_2019.csv')
df_listing = pd.read_csv('newyork_listings (2).csv.gz')
df_review = pd.read_csv('newyork_reviews(2).csv.gz')
df_neigh = pd.read_csv('neighbourhoods (1).csv')

C:\Users\yohan\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (61,62,94,95) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [56]:
df_combined = pd.concat([df_listing, df_review.reindex(df_listing.index)], axis=1)

In [57]:
column_name =['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365','comments']

df_combined = df_combined[['id', 'listing_id','name', 'host_id', 'host_name',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365','comments']]    
df_combined.head(3)

,id,id,listing_id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,comments
0,2060,158,2060,Modern NYC,2259,Jenny,Washington Heights,40.85722,-73.93790,Private room,$100.00,1,1,2008-09-22,0.01,1,365,"very nice neighborhood,close enough to ""A"" tra..."
1,2595,17857,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,40.75362,-73.98377,Entire home/apt,$225.00,3,48,2019-11-04,0.38,2,365,Notre séjour de trois nuits.\r\nNous avons app...
2,3831,19176,2595,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Clinton Hill,40.68514,-73.95976,Entire home/apt,$89.00,1,315,2020-03-14,4.68,1,233,Great experience.

In [58]:
df_combined.columns

Index(['id', 'id', 'listing_id', 'name', 'host_id', 'host_name',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'comments'],
      dtype='object')

In [59]:
df_combined.shape

(50378, 18)

In [60]:
df_combined = df_combined.drop(df_combined.columns[1], axis=1)
df_combined.head(3)

,listing_id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,comments
0,2060,Modern NYC,2259,Jenny,Washington Heights,40.85722,-73.93790,Private room,$100.00,1,1,2008-09-22,0.01,1,365,"very nice neighborhood,close enough to ""A"" tra..."
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,40.75362,-73.98377,Entire home/apt,$225.00,3,48,2019-11-04,0.38,2,365,Notre séjour de trois nuits.\r\nNous avons app...
2,2595,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Clinton Hill,40.68514,-73.95976,Entire home/apt,$89.00,1,315,2020-03-14,4.68,1,233,Great experience.

In [61]:
df_combined = df_combined.drop(['name','calculated_host_listings_count'], axis=1)
df_combined.head(3)

,listing_id,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,availability_365,comments
0,2060,2259,Jenny,Washington Heights,40.85722,-73.93790,Private room,$100.00,1,1,2008-09-22,0.01,365,"very nice neighborhood,close enough to ""A"" tra..."
1,2595,2845,Jennifer,Manhattan,40.75362,-73.98377,Entire home/apt,$225.00,3,48,2019-11-04,0.38,365,Notre séjour de trois nuits.\r\nNous avons app...
2,2595,4869,LisaRoxanne,Clinton Hill,40.68514,-73.95976,Entire home/apt,$89.00,1,315,2020-03-14,4.68,233,Great experience.

df_combined = df_combined.drop(['calculated_host_listings_count'], axis=1)
df_combined.head(3)

In [62]:
df_combined.isnull().mean()

listing_id           0.000000
host_id              0.000000
host_name            0.000159
neighbourhood        0.000258
latitude             0.000000
longitude            0.000000
room_type            0.000000
price                0.000000
minimum_nights       0.000000
number_of_reviews    0.000000
last_review          0.212454
reviews_per_month    0.212474
availability_365     0.000000
comments             0.000198
dtype: float64

df_dict = dict(zip(df_neigh.neighbourhood,df_neigh.neighbourhood_group))
df_dict

In [63]:
df_combined2 = pd.merge(df_combined, df_neigh, on='neighbourhood', how='inner')
df_combined2.head()

,listing_id,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,availability_365,comments,neighbourhood_group
0,2060,2259,Jenny,Washington Heights,40.85722,-73.93790,Private room,$100.00,1,1,2008-09-22,0.01,365,"very nice neighborhood,close enough to ""A"" tra...",Manhattan
1,3831,361855,Kurt,Washington Heights,40.83403,-73.93951,Entire home/apt,$265.00,3,35,2020-01-27,0.42,329,"Spacious, near public transportation, good pri...",Manhattan
2,3831,523218,Giorgio,Washington Heights,40.85295,-73.93361,Private room,$67.00,2,151,2020-02-18,1.39,298,A well located spot in a quieter neighbourhood...,Manhattan
3,5099,793620,Yvette,Washington Heights,40.84468,-73.94303,Private room,$75.00,2,40,2020-02-01,0.38,272,"Tinas Appartement war so wie beschrieben, es i...",Manhattan
4,5178,1423613,Arthur,Washington Heights,40.85774,-73.92901,Entire home/apt,$65.00,85,21,2020-03-03,0.36,230,My first experience using airbnb was great! Th...,Manhattan

In [64]:
df_combined2.shape

(22702, 15)

df1[df1['comments'].isnull()]

In [65]:
df1=df_combined2

In [66]:
df1.isnull().sum()

listing_id                0
host_id                   0
host_name                 4
neighbourhood             0
latitude                  0
longitude                 0
room_type                 0
price                     0
minimum_nights            0
number_of_reviews         0
last_review            4691
reviews_per_month      4691
availability_365          0
comments                  6
neighbourhood_group       0
dtype: int64

In [67]:
df1['neighbourhood '] = df1['neighbourhood'].replace('nan',np.NaN)
df1['comments'] = df1['comments'].replace('nan',np.NaN)


df1.dropna(subset=['neighbourhood '], how='all', inplace = True)
df1.dropna(subset=['comments'], how='all', inplace = True)

In [68]:
mhost = df1['host_name'].mode()[0]
mreview = df1['last_review'].mode()[0]
mper_month = df1['reviews_per_month'].mode()[0]

df1['host_name'] = df1['host_name'].fillna(mhost)
df1['last_review'] = df1['last_review'].fillna(mreview)
df1['reviews_per_month'] = df1['reviews_per_month'].fillna(mper_month)

In [69]:

import string
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
#from wordcloud import WordCloud
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from PIL import Image
import os
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
from nltk.probability import FreqDist
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.sentiment.vader import SentimentIntensityAnalyzer

#this is sample data
from nltk.corpus import names  

from string import punctuation

In [70]:
df1[["minimum_nights", "room_type","price","neighbourhood","comments"]].describe(include=["O"]).T.drop("count",axis=1)

              unique                                                top   freq
room_type          4                                    Entire home/apt  11911
price            524                                            $100.00    930
neighbourhood    159                                 Bedford-Stuyvesant   1792
comments       22514  The host canceled this reservation the day bef...     11

In [71]:
sns.set(rc={"font.style":"normal",
            "axes.grid":False,
            'axes.labelsize':25,
            'figure.figsize':(12.0,12.0),
            'xtick.labelsize':15,
            'ytick.labelsize':15})

In [72]:
#initilize function to do sentiment analysis
sid = SentimentIntensityAnalyzer()

sentiment analysis based on room_type

In [73]:
Sid = SentimentIntensityAnalyzer()

df1['room_type'] = df1['room_type'].astype(str)

df1['Polarity Score'] = df1['room_type'].apply(lambda x:Sid.polarity_scores(x)['compound'])

df1['Sentiment'] = ''

df1.loc[df1['Polarity Score'] > 0,'Sentiment'] = 'Positive'

df1.loc[df1['Polarity Score'] < 0,'Sentiment'] = 'Negative'
df1.loc[df1['Polarity Score'] == 0,'Sentiment'] = 'Neutral'
df1.head()

,listing_id,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,availability_365,comments,neighbourhood_group,neighbourhood,Polarity Score,Sentiment
0,2060,2259,Jenny,Washington Heights,40.85722,-73.93790,Private room,$100.00,1,1,2008-09-22,0.01,365,"very nice neighborhood,close enough to ""A"" tra...",Manhattan,Washington Heights,0.0,Neutral
1,3831,361855,Kurt,Washington Heights,40.83403,-73.93951,Entire home/apt,$265.00,3,35,2020-01-27,0.42,329,"Spacious, near public transportation, good pri...",Manhattan,Washington Heights,0.0,Neutral
2,3831,523218,Giorgio,Washington Heights,40.85295,-73.93361,Private room,$67.00,2,151,2020-02-18,1.39,298,A well located spot in a quieter neighbourhood...,Manhattan,Washington Heights,0.0,Neutral
3,5099,793620,Yvette,Washington Heights,40.84468,-73.94303,Private room,$75.00,2,40,2020-02-01,0.38,272,"Tinas Appartement war so wie beschrieben, es i...",Manhattan,Washington Heights,0.0,Neutral
4,5178,1423613,Arthur,Washington Heights,40.85774,-73.92901,Entire home/apt,$65.00,85,21,2020-03-03,0.36,230,My first experience using airbnb was great! Th...,Manhattan,Washington Heights,0.0,Neutral

sentiment analysis based on price

In [74]:
Sid = SentimentIntensityAnalyzer()

df1['price'] = df1['price'].astype(str)

df1['Polarity Score'] = df1['price'].apply(lambda x:Sid.polarity_scores(x)['compound'])

df1['Sentiment_for_alldata'] = ''

df1.loc[df1['Polarity Score'] >0,'Sentiment_for_alldata'] = 'Positive'

df1.loc[df1['Polarity Score'] <0,'Sentiment_for_alldata'] = 'Negative'
df1.loc[df1['Polarity Score'] ==0,'Sentiment_for_alldata'] = 'Neutral'

        
df1.head()

,listing_id,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,availability_365,comments,neighbourhood_group,neighbourhood,Polarity Score,Sentiment,Sentiment_for_alldata
0,2060,2259,Jenny,Washington Heights,40.85722,-73.93790,Private room,$100.00,1,1,2008-09-22,0.01,365,"very nice neighborhood,close enough to ""A"" tra...",Manhattan,Washington Heights,0.0,Neutral,Neutral
1,3831,361855,Kurt,Washington Heights,40.83403,-73.93951,Entire home/apt,$265.00,3,35,2020-01-27,0.42,329,"Spacious, near public transportation, good pri...",Manhattan,Washington Heights,0.0,Neutral,Neutral
2,3831,523218,Giorgio,Washington Heights,40.85295,-73.93361,Private room,$67.00,2,151,2020-02-18,1.39,298,A well located spot in a quieter neighbourhood...,Manhattan,Washington Heights,0.0,Neutral,Neutral
3,5099,793620,Yvette,Washington Heights,40.84468,-73.94303,Private room,$75.00,2,40,2020-02-01,0.38,272,"Tinas Appartement war so wie beschrieben, es i...",Manhattan,Washington Heights,0.0,Neutral,Neutral
4,5178,1423613,Arthur,Washington Heights,40.85774,-73.92901,Entire home/apt,$65.00,85,21,2020-03-03,0.36,230,My first experience using airbnb was great! Th...,Manhattan,Washington Heights,0.0,Neutral,Neutral

In [75]:
Sid = SentimentIntensityAnalyzer()

df1['comments'] = df1['comments'].astype(str)

df1['Polarity Score'] = df1['comments'].apply(lambda x:Sid.polarity_scores(x)['compound'])

df1['Sentiment_for_alldata'] = ''

df1.loc[df1['Polarity Score'] > 0,'Sentiment_for_alldata'] = 'Positive'

df1.loc[df1['Polarity Score'] < 0,'Sentiment_for_alldata'] = 'Negative'
df1.loc[df1['Polarity Score'] == 0,'Sentiment_for_alldata'] = 'Neutral'
df1.head()

,listing_id,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,availability_365,comments,neighbourhood_group,neighbourhood,Polarity Score,Sentiment,Sentiment_for_alldata
0,2060,2259,Jenny,Washington Heights,40.85722,-73.93790,Private room,$100.00,1,1,2008-09-22,0.01,365,"very nice neighborhood,close enough to ""A"" tra...",Manhattan,Washington Heights,0.8928,Neutral,Positive
1,3831,361855,Kurt,Washington Heights,40.83403,-73.93951,Entire home/apt,$265.00,3,35,2020-01-27,0.42,329,"Spacious, near public transportation, good pri...",Manhattan,Washington Heights,0.2960,Neutral,Positive
2,3831,523218,Giorgio,Washington Heights,40.85295,-73.93361,Private room,$67.00,2,151,2020-02-18,1.39,298,A well located spot in a quieter neighbourhood...,Manhattan,Washington Heights,0.8074,Neutral,Positive
3,5099,793620,Yvette,Washington Heights,40.84468,-73.94303,Private room,$75.00,2,40,2020-02-01,0.38,272,"Tinas Appartement war so wie beschrieben, es i...",Manhattan,Washington Heights,-0.9769,Neutral,Negative
4,5178,1423613,Arthur,Washington Heights,40.85774,-73.92901,Entire home/apt,$65.00,85,21,2020-03-03,0.36,230,My first experience using airbnb was great! Th...,Manhattan,Washington Heights,0.9393,Neutral,Positive

In [76]:
def wordcloud(text,my_mask=None):
    wordcloud = WordCloud(width=800,height=800,max_words=50,collocations=False,
    min_font_size=10,contour_width=2, contour_color='cadetblue',mask=my_mask,background_color='white').generate(text)

    plt.imshow(wordcloud,interpolation="bilinear")
    plt.axis('off')
    plt.show()

def tokenize(text):
    
    stop_words = set(stopwords.words('english'))
    
    token =word_tokenize(text)
    
    word_token = []

    for w in token:
        if w not in stop_words and not w.isdigit() and w.isalnum() :
            word_token.append(str(w))
    
    freq = nltk.FreqDist(word_token)

    new_list = []
    for k,v in freq.items():
        if v >= 2:
            new_list.append(k)
    
    freq.plot(10,cumulative=False)
    plt.show()
    return (str(new_list))

In [77]:
eng_stopwords = stopwords.words('english')
eng_stopwords

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [78]:
#create a function to clean up each review
#then it will analyze and assign a sentiment polarity
def reviewSentiment(review):
    
    #make text lowercase
    review = review.lower()
    
    #tokenize the review
    tknz_review = word_tokenize(review)
    
    #remove puntuation
    for token in tknz_review:
        if token in punctuation:
            tknz_review.remove(token)
    
    #empty list to hold "cleaned" tokens
    clean_tokens = []
    
    #remove filler words
    for token in tknz_review:
        if token not in eng_stopwords:
            clean_tokens.append(token)
            
    #put sentence back together with remaining clean words
    clean_review = ' '.join(clean_tokens)
    
    #get the polarity scores dictionary
    sid_rev = sid.polarity_scores(clean_review)
    
    #get sentiment polarity from the "compound" key in the sid_rev dictionary
    r_comp = sid_rev['compound']
    
    #return the sentiment value
    return r_comp

In [79]:

#create a new column to hold sentiment value from function
df1['review_sentiment'] = df1['comments'].apply(reviewSentiment)

In [80]:
#erify sentiment values in new column
df1.head()

,listing_id,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,availability_365,comments,neighbourhood_group,neighbourhood,Polarity Score,Sentiment,Sentiment_for_alldata,review_sentiment
0,2060,2259,Jenny,Washington Heights,40.85722,-73.93790,Private room,$100.00,1,1,2008-09-22,0.01,365,"very nice neighborhood,close enough to ""A"" tra...",Manhattan,Washington Heights,0.8928,Neutral,Positive,0.9552
1,3831,361855,Kurt,Washington Heights,40.83403,-73.93951,Entire home/apt,$265.00,3,35,2020-01-27,0.42,329,"Spacious, near public transportation, good pri...",Manhattan,Washington Heights,0.2960,Neutral,Positive,0.2960
2,3831,523218,Giorgio,Washington Heights,40.85295,-73.93361,Private room,$67.00,2,151,2020-02-18,1.39,298,A well located spot in a quieter neighbourhood...,Manhattan,Washington Heights,0.8074,Neutral,Positive,0.8689
3,5099,793620,Yvette,Washington Heights,40.84468,-73.94303,Private room,$75.00,2,40,2020-02-01,0.38,272,"Tinas Appartement war so wie beschrieben, es i...",Manhattan,Washington Heights,-0.9769,Neutral,Negative,-0.9761
4,5178,1423613,Arthur,Washington Heights,40.85774,-73.92901,Entire home/apt,$65.00,85,21,2020-03-03,0.36,230,My first experience using airbnb was great! Th...,Manhattan,Washington Heights,0.9393,Neutral,Positive,0.9217

In [81]:
#create a function to assign a polarity category to the sentiment
def sentimentCategory(sent_num):
    if sent_num >= 0.2:
        return "positive"
    if sent_num <= -0.2:
        return "negative"
    else:
        return "neutral"

In [82]:
#create a new column to hold sentiment category
df1['sentiment_category'] = df1['review_sentiment'].apply(sentimentCategory)

In [83]:
df1.head()

,listing_id,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,...,reviews_per_month,availability_365,comments,neighbourhood_group,neighbourhood,Polarity Score,Sentiment,Sentiment_for_alldata,review_sentiment,sentiment_category
0,2060,2259,Jenny,Washington Heights,40.85722,-73.93790,Private room,$100.00,1,1,...,0.01,365,"very nice neighborhood,close enough to ""A"" tra...",Manhattan,Washington Heights,0.8928,Neutral,Positive,0.9552,positive
1,3831,361855,Kurt,Washington Heights,40.83403,-73.93951,Entire home/apt,$265.00,3,35,...,0.42,329,"Spacious, near public transportation, good pri...",Manhattan,Washington Heights,0.2960,Neutral,Positive,0.2960,positive
2,3831,523218,Giorgio,Washington Heights,40.85295,-73.93361,Private room,$67.00,2,151,...,1.39,298,A well located spot in a quieter neighbourhood...,Manhattan,Washington Heights,0.8074,Neutral,Positive,0.8689,positive
3,5099,793620,Yvette,Washington Heights,40.84468,-73.94303,Private room,$75.00,2,40,...,0.38,272,"Tinas Appartement war so wie beschrieben, es i...",Manhattan,Washington Heights,-0.9769,Neutral,Negative,-0.9761,negative
4,5178,1423613,Arthur,Washington Heights,40.85774,-73.92901,Entire home/apt,$65.00,85,21,...,0.36,230,My first experience using airbnb was great! Th...,Manhattan,Washington Heights,0.9393,Neutral,Positive,0.9217,positive

In [84]:
df1['comments'].iloc[0]

'very nice neighborhood,close enough to "A" train,\r\ncomfortable bed and clean home over all.\r\nJennys cat is very sweet and fun to play with, but wants to sleep in bed with you and won\'t shut up unless such privilages are granted . . .\r\nMeyow meyow meyow.'

In [85]:
df1['review_sentiment'].iloc[0]

0.9552

In [86]:
df1['comments'].iloc[10]

'Awesome!!'

In [87]:
df1['review_sentiment'].iloc[10]

0.6588

In [88]:
#compare frequency of positive, negative, and neutral reviews
df1['sentiment_category'].value_counts()

positive    20162
neutral      1978
negative      556
Name: sentiment_category, dtype: int64

# OVER ALL OUR DATA SHOWS THAT GUESTS ARE HAPPY WITH THE SERVESES THAY HAVE BEEN RENDERED;
WE BELIEVE THAT THE DATA FAVORS THE PERPOSE THIS COMPANY IS CREATED FOR BESIDES THE MONEY.